.activity-applyed-quantity
  header
    position fixed
    top 0
    left 0
    width 100%
    background-color #FCFAF8
    padding 0.14rem 0.26rem
    img
      width 0.6rem
      height 0.6rem
      float left
    p
      height 0.6rem
      line-height 0.6rem
      font-size 0.34rem
      color #523F1A
      text-align center
      margin-left -0.86rem
  section
    margin-top 0.88rem
    .apply-list
      padding 0.3rem 0.32rem
      overflow hidden
      border-bottom 1px solid #E6E6E6
      .user-img
        float left
        margin-right 0.2rem
        img
          display block
          width 0.8rem
          height 0.8rem
          border-radius 0.1rem
      .user-name
        float left
        p
          height 0.8rem
          line-height 0.8rem
          font-size 0.3rem
          color #6E5627
      .user-time
        float right
        p
          height 0.8rem
          line-height 0.8rem
          font-size 0.3rem
          color #BEBBB5
    .apply-list:last-child
      border-bottom none
