.activity-applyed-quantity
  header
    background-color #FCFAF8
    padding 0.14rem 0.26rem
    img
      width 0.6rem
      height 0.6rem
      float left
    p
      height 0.6rem
      line-height 0.6rem
      font-size 0.34rem
      color #523F1A
      text-align center
      margin-left -0.86rem
