@import '../../../common/stylus/mixin.styl'
.product-detail
	width: 100%
	background: #f0f0f0
	background-color: #fff
	.content
		padding: 0.2rem
		font-size: 0.28rem
		line-height: 1.4
		border-1px(#f0f0f0)
	.img-demo-1
		width: 100%
		> img
			display: block
			width: 100%
	.activity
		padding: 0 0.2rem
		line-height: 0.6rem
		font-size: 0.24rem
		margin-bottom: 0.2rem
		border-1px(#f0f0f0)
		> img
			display: inline-block
			width: 0.3rem
			vertical-align: middle
		.text
			vertical-align: middle
			color: #888888