.address
	> .title
		width: 100%
		text-align: center
		padding: 0.2rem
		line-height: 0.3rem
		font-size: 0.32rem
		color: #252525
		background-color: #efefef
		.reminder
			width: 100%
			margin-top: 0.2rem
			font-size: 0.28rem
			color: rgba(88,157,213,1.00)
			-webkit-box-sizing: border-box
			text-align: center
	> .form-list
		padding-top: 0.2rem
		font-size 0.28rem
		.list-item
			display: flex
			position: relative
			padding: 0 0.2rem
			line-height: 0.8rem
			overflow: hidden
			.alias
				display: inline-block
				width: 1.6rem
			input
				display: inline-block
				flex: 1
	> .submit
		position: fixed
		bottom: -0.1rem
		left: 0
		width: 100%
		padding: 0.2rem
		background-color: #fff
		> a
			display: block
			height: 0.8rem
			line-height: 0.8rem
			font-size: 0.32rem
			text-align: center
			color: #fff
			background-color: #f23030
			border-radius: 0.1rem