.circle-index-top
	position fixed
	width 100%
	top 0
	left 0
	line-height 0.58rem
	padding 0.15rem 0.1rem 0.15rem 0.3rem
	z-index 3
	display flex
	background #fff
	.left-part
		flex 1
		display flex
		background #f8f7f6
		border-radius 0.1rem
		.input-area
			flex 1
			padding 0 0.2rem
			font-size 0.26rem
			line-height 0.58rem
			color #c6c6c6
		.search-icon
			padding 0 0.2rem
			> img
				display inline-block
				width 0.28rem
				height 0.28rem
				vertical-align middle
	.right-part
		display flex
		margin-left 0.4rem
		> div
			padding 0 0.2rem
			> img
				display inline-block
				width 0.28rem
				height 0.28rem
				vertical-align middle
			