@import '../../../../common/stylus/mixin.styl'
.twelve_periodical_detail
	width 100%
	height 100%
	padding-top 0.2rem
	position absolute
	.underline
		border-1px(#e6e6e6)
	.header
		width 100%
		.banner
			width 100%
			padding-bottom 1px
		.header-content
			padding 0.2rem 0.2rem 0.3rem
			position relative
			> .cart
				position absolute
				bottom 0.3rem
				right 0.2rem
			.title
				font-size 0.32rem
				color #333333
				line-height 0.48rem
			.suggest
				margin-top 0.2rem
				font-size 0
				line-height 0.24rem
				color #f8bd48
				.times
					display inline-block
					margin-right 0.2rem
					font-size 0.24rem
					padding-right 0.2rem
					&.borderRight
						border-right 0.04rem solid #bebbb5
				.grade
					font-size 0.24rem
			.carriage
				margin-top 0.2rem
				font-size 0.24rem
				line-height 0.24rem
				color #878787
				.carriage-price
					color #262626
			.price
				margin-top 0.2rem
				font-size 0
				line-height 0.36rem
				color #999999
				> .new
					font-size 0.24rem
					color #ff6060
					> .big
						font-size 0.34rem
						vertical-align baseline
				> .old
					margin-left 0.2rem
					font-size 0.24rem
	.main
		padding 0.4rem 0 1.2rem
		.gift
			padding 0 0.2rem
			display flex
			font-size 0
			> .img
				width 0.28rem
				// height 0.28rem
				padding-top 0.1rem
				> img
					width 100%
			> .text
				flex 1
				margin-left 0.1rem
				font-size 0.28rem
				color #9c9890
				line-height 0.44rem
		.photo
			margin-top 0.4rem
			padding 0.2rem
			> img
				width 100%
		.html-content
			padding 0.2rem
			.view
				margin-top 0 !important
				h3, .h3
					font-size 0.15rem !important
				