@import '../../common/stylus/mixin.styl'
.selected
	height: 0.8rem
	position: relative
	padding: 0 0.6rem
	font-size: 0.28rem
	color: #646464
	line-height: 0.8rem
.selected::before
	content: ''
	width: 0.2rem
	height: 0.2rem
	border: 2px solid #646464
	border-top: none
	border-left: none
	transform: rotate(135deg)
	position: absolute
	top: 0.3rem
	left: 0.2rem
	z-index: 3
.list
	.list-item
		position: relative
		padding-left: 0.2rem
		line-height: 0.8rem
		font-size: 0.28rem
		color: #232326
		border-1px(#e6e6e6)
	// .list-item::before
	// 	content: ''
	// 	width: 0.2rem
	// 	height: 0.2rem
	// 	border: 2px solid #646464
	// 	border-top: none
	// 	border-left: none
	// 	transform: rotate(-45deg)
	// 	position: absolute
	// 	right: 0.2rem
	// 	top: 0.3rem
	// 	z-index: 3