.activity-details-top
  background-color #fff
  position fixed
  width 100%
  z-index 2
  left 0
  top 0
  .back-icon
    padding 0.14rem 0.26rem
    > img
      width 0.6rem
      height 0.6rem
  .head-icon
    margin-right 0.4rem
    padding 0.2rem 0
    float right
    > img
      width 0.4rem
      height 0.4rem
