.link_top_line
	display: flex
	width: 100%
	position: fixed
	left: 0
	height: 0.88rem
	z-index: 999
	line-height: 0.88rem
	background-color: #fff
	opacity: 0.95
	margin-top 0.8rem
	.link_logo_img
		width: 0.4rem
		height: 0.88rem
		line-height 0.88rem
		margin-left 0.24rem
		> img
			display inline-block
			width 0.4rem
			height 0.4rem
			vertical-align middle
			margin-top -0.06rem
	.link_title
		flex: 1
		font-size: 0.32rem
		font-family: 'MFYueHei_Noncommercial-Regular'
		color: #edaf35
		margin-left 0.1rem
	.link_text
		flex: 1
		text-align: right
		font-size: 0.28rem
		color: #98948c
	.link_btn
		width: 1.3rem
		height: 0.6rem
		margin: 0.14rem 0.2rem
		font-size: 0.24rem
		line-height: 0.6rem
		color: #f0f0f0
		text-align: center
		background-color: #edaf35
		border-radius: 0.06rem
	.link_close_button
		width: 0.5rem
		> img
			display inlline-block
			width 100%
		