@import '../../../common/stylus/mixin.styl'
.info-list
	padding: 0 0.2rem
	.list-item
		display: flex
		height: 0.8rem
		line-height: 0.8rem
		font-size: 0.28rem
		border-1px(#d6d6d6)
		.name
			flex: 1
			color: #323232
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
		.value
			flex: 1
			color: #888888
			text-align: right