.query
  position fixed
  top 0.9rem
  width 100%
  z-index 10
  background-color #fff
  .queryList
    overflow hidden
    height 1.2rem
    display flex
    border-top 1px solid #F3F4F5
    border-bottom 1px solid #F3F4F5
    > li
      flex 1
      text-align center
      margin-top 0.42rem
      height 0.3rem
      line-height 0.3rem
      font-size 0.3rem
      color #523F1A
      border-right 2px solid #F8BD48
      > span
        display inline-block
        vertical-align middle
        width 0.2rem
        height 0.14rem
        background-image url("./down.png")
        background-repeat no-repeat
        background-size 100%
        margin-left 0.1rem
      .clickStyle
        background-image url("./up.png")
    > li:last-child
      border-right none
.wrapper
  margin-top 2.1rem
.queryShade
  position fixed
  top 2.1rem
  z-index 20
  width 100%
  background-color rgba(0, 0, 0, 0.5)
  > ul
    background #fff
    padding-left 0.32rem
    > li
      font-size 0.34rem
      color #523F1A
      padding 0.24rem 0px
      padding-right 0.32rem
      border-bottom 1px solid #D8D8D8
      > span
        display block
        width 0.16rem
        height 0.26rem
        background-image url("./right.png")
        background-repeat no-repeat
        background-size 100%
        vertical-align middle
        float right
        margin-top 0.1rem
    > li:last-child
      border-bottom none
.to-top-icon
  position fixed
  width 1rem
  height 1rem
  bottom 1.42rem
  right 0.4rem
  z-index 9
