.book-header
  position fixed
  width 100%
  left 0
  top 0
  display flex
  line-height 0.58rem
  padding-top 0.15rem
  padding-right 0.3rem
  padding-left 0.26rem
  z-index 9
  .back-icon
    font-size 0
    margin-right 0.36rem
    line-height inherit
    > img
      width 0.6rem
      height 0.6rem
      vertical-align middle
  .search-area
    line-height inherit
    padding 0 0.2rem
    flex 1
    display flex
    background #f8f7f6
    border-radius 0.1rem
    font-size 0.26rem
    color #c6c6c6
    .left-part
      line-height inherit
      flex 1
    .right-part
      line-height inherit
      text-align right
      > img
        width 0.34rem
        height 0.34rem
        display inline-block
        vertical-align middle
  .message
    line-height inherit
    margin-left 0.4rem
    position relative
    > img
      width 0.4rem
      height 0.4rem
      display inline-block
      vertical-align middle
    > .dot
      position absolute
      display inline-block
      top 0.04rem
      left 50%
      z-index 3
      border-radius 0.15rem
      width auto
      min-width 0.3rem
      text-align center
      padding 0.04rem 0.06rem
      font-size 0.2rem
      line-height 0.2rem
      color #fff
      background-color #ff3a3f
