.activity-details-introduction
  .title
    font-size 0.34rem
    color #333333
    padding 0.6rem 0
    text-align center
  .content
    padding 0 0.2rem
    section
      width 100%
      img
        width 100%
