.mine-collect-top
	position fixed
	width 100%
	left 0
	top 0
	z-index 3
	line-height 0.88rem
	height 0.88rem
	background-color #fff
	// display flex
	> .back-icon
		position absolute
		left 0.26rem
		top 0
		line-height 0.88rem
		> img
			display inline-block
			width 0.6rem
			height 0.6rem
			vertical-align middle
	.title
		width 100%
		font-size 0.34rem
		color #523f1a
		text-align center
		vertical-align middle
		