.cart-buttons
	// width 1.92rem
	// height 100%
	position relative
	margin-right 0.1rem
	font-size 0
	// line-height inherit
	display flex
	text-align right
	span
		display inline-block
		line-height inherit
	.cart-num
		// float right
		// line-height inherit
		font-size 0.34rem
		text-align center
		display inline-block
		vertical-align middle
		width 0.96rem
		line-height 0.48rem
	.cart-add
		// float right
		display inline-block
		width 0.48rem
		height 0.48rem
		vertical-align middle
		// line-height inherit
	.cart-reduce
		display inline-block
		width 0.48rem
		height 0.48rem
		vertical-align middle
		// line-height inherit