.mine-setting
	padding-top 0.88rem
	background-color #f3f4f5
	padding-bottom 1rem
	.mine-setting-top
		position fixed
		width 100%
		left 0
		top 0
		z-index 3
		line-height 0.88rem
		height 0.88rem
		background-color #fff
		&.underline
			border-bottom 0.01rem solid #d6d6d6
		> .back-icon
			position absolute
			left 0.26rem
			top 0
			line-height 0.88rem
			> img
				display inline-block
				width 0.6rem
				height 0.6rem
				vertical-align middle
		.title
			width 100%
			font-size 0.34rem
			color #523f1a
			text-align center
			vertical-align middle
	.input-list
		width 100%
		.input-item
			padding 0 0.32rem
			line-height 0.88rem
			display flex
			border-bottom 0.01rem solid #e6e6e6
			overflow hidden
			padding-bottom 0.01rem
			background-color #fff
			&.topLine
				margin-top 0.16rem
			&:first-child
				line-height 1.8rem
			.left-part
				min-width 1.28rem
				font-size 0
				line-height inherit
				> img
					border 0.04rem solid #f8bd48
					display inline-block
					width 1.28rem
					height 1.28rem
					line-height inherit
					vertical-align middle
					border-radius 50%
				.text
					font-size 0.3rem
					font-weight 600
					color #333
					vertical-align middle
			.center-part
				flex 1
				line-height inherit
				font-size 0
				display flex
				text-align right
				> .text
					text-align right
					font-size 0.3rem
					color #c7c7cc
				> input
					width 100%
					text-align right
					font-size 0.3rem
					line-height inherit
					vertical-align middle
					color #c7c7cc
					outline none
					vertical-align middle
					&.yellow
						color #f8bd48
						&::placeholder
							color #f8bd48
					&::placeholder
						color #c7c7cc
				.block
					flex 1
				.setting-btn
					margin-top 0.6rem
					display inline-block
					padding 0 0.16rem
					font-size 0.26rem
					line-height 0.6rem
					height 0.6rem
					color #fff
					background-color #f8bd48
					border-radius 0.3rem
					vertical-align middle
			.right-part
				padding-left 0.32rem
				font-size 0
				line-height inherit
				&.mobile
					padding-left 0.2rem
				> img
					display inline-block
					width 0.16rem
					height 0.26rem
					vertical-align middle
				> .mobile-icon
					width 0.6rem
					height 0.6rem
	.exit-login
		margin-top 0.16rem
		width 100%
		font-size 0.3rem
		line-height 0.88rem
		text-align center
		color #333
		background-color #fff
			