.no-data-box
	width 100%
	margin-top 50%
	text-align center
	> img
		display inline-block
		width 2rem
		height 2rem
		margin 0 auto
	.text
		margin-top 0.3rem
		font-size 0.3rem
		line-height 0.3rem
		color #d6d6d6
		text-align center
		