.mine-integral-page
	width 100%
	background-color #fd6250
	.top-content
		width 100%
		background-image url('yellow_bg.png'), url('left_bg.png'), url('right_bg.png')
		background-size 100% 100%, 1.56rem 7.48rem, 1.94rem 5.66rem
		background-position 0 0, 0 100%, 100% 50%
		background-repeat no-repeat, no-repeat, no-repeat
		padding-top 2rem
		.center
			margin 0 17% 0
			> img
				display inline-block
				width 100%
		.integral-icon
			margin-top 0.8rem
			text-align center
			> img
				display inline-block
				width 1.8rem
				height 0.52rem