.mine-message-order
	padding-top 0.88rem
	background-color #f3f4f5
	.mine-message-order-top
		position fixed
		width 100%
		left 0
		top 0
		z-index 3
		line-height 0.88rem
		height 0.88rem
		background-color #fff
		&.underline
			border-bottom 0.01rem solid #d6d6d6
		> .back-icon
			position absolute
			left 0.26rem
			top 0
			line-height 0.88rem
			> img
				display inline-block
				width 0.6rem
				height 0.6rem
				vertical-align middle
		.title
			width 100%
			font-size 0.34rem
			color #523f1a
			text-align center
			vertical-align middle
		.submit-btn
			position absolute
			right 0.1rem
			top 0
			font-size 0.34rem
			line-height 0.4rem
			color #f8bd48
			padding 0.24rem
			> img
				display inline-block
				width 0.36rem
				height 0.36rem
				vertical-align middle
	.message-list
		.list-item
			margin-top 0.6rem
			.time
				width 100%
				font-size 0.24rem
				line-height 0.28rem
				color #999
				text-align center
			.list-box
				margin-top 0.5rem
				padding 0 0.2rem
				position relative
				overflow-x hidden
				&.deleteShow
					.content, .delete-box
						transform translate(-2.4rem, 0)
				.content
					margin-top 0.1rem
					padding 0.4rem
					background-color #fff
					border-radius 0.06rem
					position relative
					transition 0.3s all linear
					.status
						font-size 0.34rem
						line-height 0.44rem
						color #333
						display flex
						> .express
							flex 1
							text-align right
							font-size 0.3rem
							color #44b343
					.detail
						margin-top 0.2rem
						display flex
						overflow hidden
						.left-part
							width 1.2rem
							height 1.2rem
							line-height 1.2rem
							font-size 0
							border 0.02rem solid #d6d6d6
							border-radius 0.12rem
							overflow hidden
							box-sizing border-box
							> img
								display inline-block
								max-width 100%
								max-height 100%
								vertical-align middle
						.right-part
							margin-left 0.2rem
							flex 1
							height 1.2rem
							line-height 1.2rem
							display -webkit-box
							-webkit-box-orient horizontal
							-webkit-box-align center
							-webkit-box-pack center
							.box
								width 100%
								.text
									font-size 0.3rem
									line-height 0.36rem
									color #333
									overflow hidden
									text-overflow ellipsis
									display -webkit-box
									-webkit-box-orient vertical
									-webkit-line-claml 2
								.number
									margin-top 0.16rem
									font-size 0.24rem
									line-height 0.28rem
									color #999
					.dot
						box-sizing content-box
						display inline-block
						position absolute
						z-index 9
						width 0.16rem
						height 0.16rem
						top -0.08rem
						right -0.08rem
						background-color #f23030
						border-radius 50%
						border 0.04rem solid #fff
				.delete-box
					position absolute
					right -2.2rem
					top 0
					width 2.2rem
					height 100%
					color #fff
					text-align center
					background-color #f8bd48
					border-radius 0.06rem
					line-height 100%
					transition 0.3s all linear
					font-size 0.34rem
				
				
					
				
			