.activity-details
  margin-top 0.88rem
  .wrapper
    .content
      padding-bottom 1px
      .interval
        height 0.16rem
        background-color #f6f6f6
  .to-top-icon
    position fixed
    width 1rem
    height 1rem
    bottom 1.42rem
    right 0.4rem
    z-index 9
