.integral-header
	position fixed
	width 100%
	left 0
	top 0
	display flex
	line-height 0.58rem
	padding-top 0.15rem
	padding-right 0.3rem
	padding-left 0.26rem
	padding-bottom 0.15rem
	z-index 5
	.back-icon
		font-size 0
		margin-right 0.36rem
		line-height inherit
		> img
			width 0.6rem
			height 0.6rem
			vertical-align middle
	.search-area
		line-height inherit
		padding 0 0.2rem
		flex 1
		display flex
		background #f8f7f6
		border-radius 0.1rem
		font-size 0.26rem
		color #c6c6c6
		.left-part
			line-height inherit
			flex 1
		.right-part
			line-height inherit
			text-align right
			> img
				width 0.34rem
				height 0.34rem
				display inline-block
				vertical-align middle
	.message
		line-height inherit
		margin-left 0.4rem
		> img
			width 0.4rem
			height 0.4rem
			display inline-block
			vertical-align middle