.activity-details-message
  .message-list
    padding-left 0.2rem
    > li
      overflow hidden
      padding 0.32rem 0
      border-bottom 1px solid #E6E6E6
      > img
        width 0.32rem
        height 0.32rem
        margin-right 0.2rem
        float left
        vertical-align top
        margin-top 0.1rem
      > span
        font-size 0.3rem
        color #333333
        float right
        margin-right 0.2rem
      > p
        font-size 0.32rem
        color #C7C7CC
    > li:last-child
      border-bottom: none
      > img
        margin-top 0.2rem
      > p
        width 85%
        float left
        color #333333
        font-size 0.26rem
    > li:last-child:before
      margin-top 0.2rem
    .have-link:before
      content ''
      display block
      width 0.16rem
      height 0.26rem
      background-image url("./link-icon.png")
      background-size 100%
      background-repeat no-repeat
      float right
      margin-top 0.1rem
      margin-right 0.2rem
  .message-sponsor
    > li
      overflow hidden
      padding 0.4rem 0.2rem
      border-bottom 1px solid #E6E6E6
      .organizer
        background-color #A472DC
      .co-organizer
        background-color #5B9FDA
      > img
        width 0.8rem
        height 0.8rem
        float left
        margin-right 0.2rem
      > span
        display block
        width 1.4rem
        height 0.64rem
        float right
        font-size 0.3rem
        margin-top 0.2rem
        line-height 0.64rem
        text-align center
        border-radius 0.1rem
      .attention
        background-color #F8BD48
        color #6E5627
      .attentioned
        border 1px solid #FF6060
        color #FF6060
      > div
        float left
        width 60%
        > p
          font-size 0.3rem
          color #787570
          margin-top 0.1rem
        > span
          font-size 0.2rem
          display block
          width 0.78rem
          height 0.28rem
          line-height 0.28rem
          text-align center
          border-radius 2px
          color #fff
    > li:last-child
      border-bottom none
