.index-menu
  width 100%
  padding 0.4rem 0.2rem
  background #ffffff
  > .menu-list
    width 100%
    display flex
    > .list-item
      flex 1
      text-align center
      font-size 0
      > img
        display inline-block
        width 0.8rem
      > p
        margin-top 0.1rem
        font-size 0.24rem
        color #666666
        font-family '.PingFang-SC-Regular'
        line-height 1
