.home-header
	position fixed
	width 100%
	left 0
	top 0
	display flex
	// background linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
	// background rgba(248, 189, 72, 1)
	line-height 0.58rem
	padding-top 0.15rem
	padding-right 0.3rem
	padding-left 0.3rem
	// padding-bottom 0.55rem
	// height 0.78rem
	z-index 5
	.position
		font-size 0
		margin-right 0.4rem
		line-height inherit
		.text
			font-size 0.34rem
			color #ffffff
			vertical-align middle
		> img
			margin-left 0.1rem
			width 0.24rem
			height 0.14rem
			vertical-align middle
	.search-area
		line-height inherit
		padding 0 0.2rem
		flex 1
		display flex
		background rgba(255, 255, 255, 0.5)
		border-radius 0.1rem
		.left-part
			line-height inherit
			flex 1
			> img
				width 0.28rem
				height 0.28rem
				display inline-block
				vertical-align middle
		.right-part
			line-height inherit
			flex 1
			text-align right
			> img
				width 0.34rem
				height 0.34rem
				display inline-block
				vertical-align middle
	.message
		line-height inherit
		margin-left 0.4rem
		> img
			width 0.36rem
			height 0.36rem
			display inline-block
			vertical-align middle