.match-index-page
	width 100%
	padding 0
	img
		display inline-block
		// width 100%
	.top-content
		position relative
		width 100%
		background-image url('top_bg.jpg')
		background-size 100% 100%
		.title
			width 100%
			text-align center
			> img
				width 3.48rem
		.logo
			position absolute
			bottom -0.4rem
			left 0
			z-index 6
			width 100%
			text-align center
			> img
				width 1.3rem
		.sun-content
			position absolute
			left 0
			top 0
			z-index 3
			> img
				width 1.62rem
		.left-cloud-content
			position absolute
			left 0.45rem
			top 0.95rem
			z-index 5
			> img
				width 2.6rem
		.right-cloud-content
			position absolute
			right 0.55rem
			top 0.7rem
			z-index 5
			> img
				width 1.4rem
	.bottom-content
		position relative
		// padding-top 10%
		width 100%
		background-image url('bottom_bg.jpg')
		background-size 100% 100%
		> .main-content
			width 100%
			text-align center
			> img
				// width 4.3rem
		> .time-content
			position absolute
			left 0
			width 100%
			text-align center
			> img
				// width 4.5rem
				