.activity-realname
  header
    position fixed
    left 0
    top 0
    width 100%
    background-color #FCFAF8
    padding 0.14rem 0.26rem
    img
      width 0.6rem
      height 0.6rem
      float left
    p
      height 0.6rem
      line-height 0.6rem
      font-size 0.34rem
      color #523F1A
      text-align center
      margin-left -0.86rem
  section
    margin 1rem 0
    .ticketList
      padding 0.32rem
      .ticket-title
        font-size 0.3rem
        color #666666
        .group-icon
          display inline-block
          width 0.28rem
          height 0.28rem
          background-image url("./group-icon.png")
          background-repeat no-repeat
          background-size 100%
          vertical-align baseline
      .ticket-price
        font-size 0.2rem
        color #BEBBB5
        margin-top 0.32rem
    .ticket-list
      margin-bottom 0.34rem
      border-top 1px solid #E6E6E6
      > li
        padding 0.28rem 0.32rem
        border-bottom 1px solid #E6E6E6
        > span
          font-size 0.3rem
          color #333333
        > img
          display block
          width 0.16rem
          height 0.26rem
          float right
          margin-top 0.1rem
        > p
          font-size 0.3rem
          color #C7C7CC
          float right
          margin-right 0.32rem
  footer
    position fixed
    bottom 0
    left 0
    width 100%
    div
      width 100%
      height 1rem
      line-height 1rem
      text-align center
      color #fff
      background linear-gradient(45deg, #FF5050, #FE7A56)
      font-size 0.34rem
