.mine-children-edit
	padding-top 0.88rem
	background-color #fff
	.mine-children-edit-top
		position fixed
		width 100%
		left 0
		top 0
		z-index 3
		line-height 0.88rem
		height 0.88rem
		background-color #fff
		&.underline
			border-bottom 0.01rem solid #d6d6d6
		> .back-icon
			position absolute
			left 0.26rem
			top 0
			line-height 0.88rem
			> img
				display inline-block
				width 0.6rem
				height 0.6rem
				vertical-align middle
		.title
			width 100%
			font-size 0.34rem
			color #523f1a
			text-align center
			vertical-align middle
		.add-btn
			position absolute
			right 0.1rem
			top 0
			font-size 0.34rem
			line-height 0.88rem
			color #f8bd48
			padding 0 0.2rem
	.input-list
		width 100%
		padding-bottom 0.6rem
		.input-item
			padding 0 0.32rem
			line-height 1.08rem
			display flex
			border-bottom 0.01rem solid #e6e6e6
			overflow hidden
			padding-bottom 0.01rem
			&:first-child
				line-height 1.68rem
			.left-part
				min-width 1.28rem
				font-size 0
				line-height inherit
				> img
					display inline-block
					width 1.28rem
					height 1.28rem
					line-height inherit
					vertical-align middle
					border-radius 50%
				.text
					font-size 0.3rem
					font-weight 600
					color #333
					vertical-align middle
			.center-part
				flex 1
				line-height inherit
				font-size 0
				display flex
				text-align right
				> input
					width 100%
					text-align right
					font-size 0.3rem
					line-height inherit
					vertical-align middle
					color #c7c7cc
					outline none
					vertical-align middle
					&.yellow
						color #f8bd48
						&::placeholder
							color #f8bd48
					&::placeholder
						color #c7c7cc
				.block-box
					flex 1
				.sex-box
					flex 1
				.select-box
					margin-left 0.3rem
					padding 0 0 0 0.32rem
					line-height 1.08rem
					white-space nowrap
					> img.select-img
						display inline-block
						width 0.44rem
						height 0.44rem
						vertical-align middle
					> img.sex-icon
						margin-left 0.52rem
						display inline-block
						width 0.4rem
						height 0.4rem
						vertical-align middle
					> .text
						font-size 0.3rem
						color #523f1a
						margin-left 0.1rem
						vertical-align middle
			.right-part
				margin-left 0.32rem
				font-size 0
				line-height inherit
				> img
					display inline-block
					width 0.16rem
					height 0.26rem
					vertical-align middle
			