.toast
	position fixed
	top: 50%
	left 50%
	width: 3rem
	padding 0.1rem
	background: rgba(0, 0, 0, 0.7)
	border-radius: 0.2rem
	min-height: 1rem
	margin-left: -1.5rem
	margin-top: -0.5rem
	z-index: 3
	top: 45%
	left: 50%
	color: #fff
	word-wrap: break-word
	.toast-header
		width 100%
		text-align center
		font-size: 0.3rem
		line-height 1rem
	.toast-body
		width 100%