.apply-activity
  header
    position fixed
    top 0
    left 0
    width 100%
    padding 0.14rem 0.26rem
    overflow hidden
    background-color #FCFAF8
    z-index 3
    img
      width 0.6rem
      height 0.6rem
      float left
    p
      width 100%
      height 0.6rem
      line-height 0.6rem
      text-align center
      margin-left -0.88rem
      font-size 0.34rem
      color #523F1A
  section
    padding 0.4rem 0.48rem
    overflow hidden
    margin-top 0.88rem
    margin-bottom 1.88rem
    > ul
      > li
        margin-bottom 0.72rem
        overflow hidden
        > div
          height 3.2rem
          border-radius 0.1rem
          > span
            display block
            width 0.32rem
            height 0.32rem
            border-radius 50%
            background-color #fff
            position absolute
            right -0.16rem
            z-index 2
        .ticket-left
          position relative
          width 70%
          float left
          background-color #FCC251
          border-right 1px dashed #FFEC92
          .radius-top
            top -0.16rem
          .radius-bottom
            bottom -0.16rem
          > div
            height 50%
          .ticket-top
            padding 0.3rem
            > p
              font-size 0.34rem
              color #FFFDE6
              .ticket-title-icon
                vertical-align baseline
                display inline-block
                width 0.32rem
                height 0.32rem
                background-image url("group-icon.png")
                background-size 100%
                background-repeat no-repeat
          .ticket-bottom
            position relative
            padding 0 0.3rem
            > p
              font-size 0.26rem
              color #94712C
            .ticket-price-number
              position absolute
              left 0
              bottom 0.3rem
              width 100%
              height 0.5rem
              > p
                position absolute
                bottom 0
                font-size 0.26rem
                > span
                  vertical-align baseline
              .ticket-number
                left 0.3rem
                color #BE9036
                > span
                  font-size 0.36rem
              .ticket-price
                right 0.3rem
                color #FFF9AB
                > span
                  font-size 0.5rem
        .ticket-right
          position relative
          width 30%
          float right
          background-color #FFEB90
          > div
            position relative
            > img
              position absolute
              display block
              width 0.32rem
              height 0.32rem
              left 50%
              top 50%
              margin-top -0.16rem
              margin-left -0.16rem
          .ticket-increase
            height 1rem
          .ticket-quantity
            height 1.2rem
            line-height 1.2rem
            text-align center
            font-size 0.4rem
            color #F5A623
            background-color #fff
          .ticket-reduce
            height 1rem
      > li:last-child
        margin-bottom 0
  footer
    position fixed
    width 100%
    left 0
    bottom 0
    z-index 3
    .agreement
      padding 0.24rem 0.22rem
      background-color #F8F7F6
      > img
        width 0.44rem
        height  0.44rem
        float left
        margin-right 0.24rem
      > p
        height 0.44rem
        line-height 0.44rem
        font-size 0.26rem
        color #9C9890
        > span
          vertical-align baseline
          color #F8BD48
    .footer
      overflow hidden
      background-color #fff
      .Total
        float left
        width 50%
        height 1rem
        line-height 1rem
        padding-left 0.32rem
        font-size 0.24rem
        color #94712C
        > span
          font-size 0.4rem
          vertical-align baseline
      .next
        float right
        width 50%
        height 1rem
        line-height 1rem
        background linear-gradient(45deg, #FF5050, #FE7A56)
        font-size 0.34rem
        color #FFFFFF
        text-align center
