.index-shopcat
	padding-top 1.48rem
	min-height 100%
	//background-color #f3f4f5
	.header-title
		position fixed
		width 100%
		left 0
		top 0
		z-index 3
		font-size 0.34rem
		line-height 0.88rem
		color #523f1a
		text-align center
		background #fcfaf8
		.edit-icon
			position absolute
			top 0
			right 0
			padding 0 0.3rem
			line-height 0.88rem
			font-size 0.34rem
			color #f8bd48
			// width 2rem
			height 2rem
			margin 0 auto
