.mine-shopcat-index
	padding-top 1.48rem
	background-color #f4f5f6
	.mine-shopcat-index-top
		position fixed
		width 100%
		left 0
		top 0
		z-index 3
		line-height 0.88rem
		height 0.88rem
		background-color #fff
		&.underline
			border-bottom 0.01rem solid #d6d6d6
		> .back-icon
			position absolute
			left 0.26rem
			top 0
			line-height 0.88rem
			> img
				display inline-block
				width 0.6rem
				height 0.6rem
				vertical-align middle
		.title
			width 100%
			font-size 0.34rem
			color #523f1a
			text-align center
			vertical-align middle
		.add-btn
			position absolute
			right 0.1rem
			top 0
			font-size 0.34rem
			line-height 0.88rem
			color #f8bd48
			padding 0 0.2rem