.publish
	width 100%
	height 100%
	background #ebe0b8
	padding 0.4rem
	.top
		width 2.42rem
		height 1.04rem
		> img
			width 100%
	.main-content
		position fixed
		width 100%
		height 3.5rem
		z-index 3
		top 20%
		left 0
		padding 0.4rem
		.desc
			padding 0.4rem 0.2rem
			font-size 0.32rem
			line-height 0.6rem
			text-indent 0.7rem
			font-family PingFangSC-Regular
		.buttons
			margin-top 0%
			// padding 0 0.2rem
			width 100%
			display flex
			> .download
				margin-left 0.2rem
				width 42%
				> img
					display block
					width 100%
			> .service
				margin-right 0.2rem
				display inline-block
				width 42%
				background url('service_button.png') no-repeat center
				background-size 100% 100%
				> a
					display block
					width 100%
					height 100%
			> .center
				flex 1
	.bottom-pic
		position fixed
		bottom 0
		left 0
		z-index 1
		width 100%
		background url('bottom_pic.png') no-repeat center
		background-size 100% 100%
		> img
			position fixed
			width 2rem
			left 50%
			bottom 0.36rem
			margin 0 auto
			margin-left -1rem