@import '../../../common/stylus/mixin.styl'
.detail-info
	width 100%
	> .tab
		display: flex
		width: 100%
		text-align: center
		> div
			flex: 1
			line-height: 0.8rem
			font-size: 0.28rem
			color: #323232
			border-bottom: 1px solid #d6d6d6
		.active
			border-bottom: 1px solid #eb6900	
			color: #eb6900 