@import '../../../../common/stylus/mixin.styl'
.book-detail-comment
	width 100%
	.nav-list
		padding 0.2rem 0.32rem
		.nav-item
			display inline-block
			margin-right 0.04rem
			margin-top 0.2rem
			font-size 0.26rem
			line-height 0.3rem
			color #8d7a53
			padding 0.21rem 0.24rem
			background #fdf0d8
			border-radius 0.36rem
			&.active
				color #fff
				background #f8bd48
	.comment-list
		width 100%
		.comment-item
			display flex
			padding 0.33rem 0.2rem 0.4rem
			border-1px(#e6e6e6)
			.left-part
				margin-right 0.2rem
				.avatar
					width 0.52rem
					height 0.52rem
					> img
						display block
						max-width 100%
						max-height 100%
			.right-part
				flex 1
				overflow hidden
				.top
					width 100%
					display flex
					line-height 0.52rem
					.name
						flex 1
						font-size 0.26rem
						color #9c9890
						vertical-align middle
					.stars
						font-size 0
						> img
							display inline-block
							width 0.24rem
							height 0.24rem
							margin-left 0.1rem
							vertical-align middle
				.content
					margin-top 0.3rem
					max-width 100%
					font-size 0.34rem
					line-height 0.52rem
				.photo-list
					margin-top 0.3rem
					.photo-item
						display inline-block
						width 1.2rem
						height 1.2rem
						margin-right 0.1rem
						line-height 1.2rem
						text-align center
						> img
							display inline-block
							max-width 100%
							max-height 100%
							vertical-align middle
				.time
					margin-top 0.3rem
					font-size 0.2rem
					line-height 0.3rem
					color #9c9890
							
					