.search-reminder
	position fixed
	width 100%
	top 0
	left 0
	bottom 0
	z-index 13
	background rgba(0, 0, 0, 0.5)
	> .bar
		background none
	> .reminder-body
		margin 1.17rem 0.4rem
		padding 0.4rem
		font-size 0.34rem
		line-height 0.52rem
		color #333333
		background #ffffff
		border-radius 0.4rem
		font-weight 600
		position relative
		.top-triangle
			position absolute
			top -0.12rem
			left 0.48rem
			width 0.24rem
			height 0.24rem
			background #ffffff
			// border 0.02rem solid red
			transform rotate(45deg)
		.Cf5b039
			color #f5b039
	> .buttons
		margin 0 auto
		padding 0 0.2rem
		font-size 0
		display flex
		// width 4.5rem
		.button
			flex 1
			font-size 0
			> span
				display inline-block
				font-size 0.3rem
				line-height 0.8rem
				padding 0 0.32rem
				border-radius 0.4rem
				color #ffffff
				background #f8bd48
		.left-button
			text-align right
		.right-button
			margin-left 0.4rem
			> span
				color #f8bd48
				background #ffffff