@import '../../../../common/stylus/mixin.styl'
.home-choiceness
	width 100%
	background #ffffff
	margin-top 0.16rem
	.choiceness-title
		width 100%
		padding 0.12rem 0
		line-height 0.34rem
		border-1px(#e6e6e6)
		> .text
			display inline-block
			font-size 0.24rem
			color #f8bd48
			padding-left 0.12rem
			border-left 0.08rem solid #f8bd48
	
				
					
					
				
				