.active-praise-page
  .interval
    height 8px
    background-color: #F3F4F5
  .title
    width 100%
    height 40px
    line-height 40px
    padding 0px 10px
    border-bottom 1px solid #E6E6E6
    > span
      font-size 0.26rem
      line-height 0.26rem
      color: #F8BD48
    > span:before
      content: ''
      display inline-block
      width 0.26rem
      height 0.26rem
      margin-right 5px
      background-image: url(./koubei.png)
      background-repeat no-repeat
      background-size 100%
      vertical-align middle
  .media-list
    padding 0.3rem 0.2rem
    width 100%
    display flex
    position relative
    > .img-item
      flex 1
      margin-right 0.1rem
      overflow hidden
      text-align center
      &:last-child
        margin-right 0
      > img
        display inline-block
        min-height 100%
        width 100%
        vertical-align middle


