.mine-help
	padding-top 0.88rem
	background-color #fff
	.mine-help-top
		position fixed
		width 100%
		left 0
		top 0
		z-index 3
		line-height 0.88rem
		height 0.88rem
		background-color #fcfaf8
		&.underline
			border-bottom 0.01rem solid #d6d6d6
		> .back-icon
			position absolute
			left 0.26rem
			top 0
			line-height 0.88rem
			> img
				display inline-block
				width 0.6rem
				height 0.6rem
				vertical-align middle
		.title
			width 100%
			font-size 0.34rem
			color #523f1a
			text-align center
			vertical-align middle
		.submit-btn
			position absolute
			right 0.1rem
			top 0
			font-size 0.34rem
			line-height 0.4rem
			color #f8bd48
			padding 0.24rem
	.help-list
		padding 0 0 0 0.32rem
		.help-item
			width 100%
			font-size 0
			line-height 0.88rem
			border-bottom 0.01rem solid #e6e6e6
			display flex
			overflow hidden
			> .title
				flex 1
				font-size 0.3rem
				line-height inherit
				color #333
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
			> .arrow-box
				line-height inherit
				padding 0 0.32rem
				> img
					display inline-block
					width 0.16rem
					height 0.26rem
					vertical-align middle
	// 详情
	.help-detail
		padding 0 0.4rem
		.title
			font-size 0.34rem
			line-height 0.52rem
			color #523f1a
			padding 0.3rem 0
			border-bottom 0.02rem dashed #979797
		.content
			font-size 0.3rem
			line-height 0.44rem
			color #333
			margin-top 0.4rem