.mine-setting-about-page
	padding-top 0.88rem
	background-color #fff
	.mine-setting-about-top
		position fixed
		width 100%
		left 0
		top 0
		z-index 3
		line-height 0.88rem
		height 0.88rem
		background-color #ebe0b8
		&.underline
			border-bottom 0.01rem solid #d6d6d6
		> .back-icon
			position absolute
			left 0.26rem
			top 0
			line-height 0.88rem
			> img
				display inline-block
				width 0.6rem
				height 0.6rem
				vertical-align middle
	.img-part
		width 100%
		background-color #ebe0b8
		.top-part
			position relative
			width 100%
			height 1.7rem
			.right-cloud
				position absolute
				top 0
				right 0.4rem
				width 1.6rem
				height 0.6rem
				> img
					display block
					width 100%
			.left-cloud
				position absolute
				top 0.2rem
				left 0.44rem
				width 2.42rem
				height 1.04rem
				> img
					display block
					width 100%
		.bottom-img
			width 100%
			position relative
			background-image url('bottom_bg.png')
			background-size 100% 100%
			background-repeat no-repeat
			.bottom-text
				position absolute
				bottom 0.36rem
				width 100%
				text-align center
				> img
					display inline-block
					width 2rem
					height 0.44rem
	.about-text
		padding 0 0.4rem
		.text
			font-size 0.3rem
			line-height 0.9rem
			color #523f1a
			border-bottom 0.02rem dashed #d6d6d6
			&:first-child
				text-indent 0.6rem
			
			