.spyp-anchor
  padding 0 0.2rem
  padding-bottom 0.2rem
  background-color #ffffff
  .spyp-anchor-title
    display block
    color #9C9890
    height 1.12rem
    font-size 0.32rem
    line-height 1.12rem
  .spyp-anchor-head
    display flex
    justify-content space-between
    > img
      width 0.8rem
      height 0.8rem
      border-radius 50%
      margin-right 0.2rem
    .spyp-anchor-follow
      display block
      width 1.8rem
      height 0.8rem
      border 1px solid #F8BD48
      border-radius 0.8rem
      line-height 0.8rem
      text-align center
      font-size 0.3rem
      color #F8BD48
      margin-left 0.2rem
    .spyp-anchor-content
      width 60%
      .spyp-anchor-name
        > span
          width 90%
          display inline-block
          vertical-align middle
          font-size 0.3rem
          color #333333
          text-overflow ellipsis
          white-space nowrap
          overflow hidden
        > img
          display inline-block
          width 0.32rem
          height 0.34rem
          vertical-align middle
      .spyp-anchor-coll
        color #BEBBB5
        font-size 0.2rem
.spyp-anchor-intro
  line-height 0.48rem
  margin-top 0.4rem
  font-size 0.3rem
  color #333333
