.new_year_page
	margin 0 auto
	background-color #fff
	img
		display inline-block
		width 100%
	.new_year_top
		position relative
		width 100%
		background-size 100% 100%
		.top_image
			margin 0 auto
		.top_left_img
			position absolute
			top 0.3rem
			left 0
		.top_right_img
			position absolute
			top 0.4rem
			right 0
	.twelve_nav_list
		display flex
		margin-left auto
		margin-right auto
		padding 0 0.75rem
		background-size 100% 100%
		background-color #8ce5da
		.nav_left_list
			flex 1
			.nav_item
				margin-top 0.5rem
				margin-left auto
				margin-right auto
				width 1.8rem
				&:first-child
					margin-top 0 !important
		.nav_right_list
			flex 1
			.nav_item
				margin-top 0.5rem
				margin-left auto
				margin-right auto
				width 1.8rem
				&:first-child
					margin-top 0 !important
		.nav_center_line
			width 0.52rem
			margin-top 0.3rem