@import '../../../../common/stylus/mixin.styl'
.book-detail-product
	width 100%
	background #fff
	.wrapper
		background #f8f7f6
		> .content
			background #fff
			.main
				padding 0 0.2rem
				.name
					margin-top 0.2rem
					font-size 0
					line-height 0.34rem
					color #333
					.text
						font-size 0.3rem
						vertical-align middle
					.package
						display inline-block
						font-size 0.24rem
						line-height 0.24rem
						color #fff
						background #ff6060
						padding 0.04rem 0.06rem
						border-radius 0.06rem
						vertical-align middle
				.age
					font-size 0.24rem
					line-height 0.24rem
					color #f8bd48
					margin-top 0.2rem
				.price
					margin-top 0.2rem
					font-size 0
					line-height 0.34rem
					.num
						font-size 0.24rem
						color #ff6060
						> .big
							font-size 0.4rem
							vertical-align baseline
					.discount
						margin-left 0.1rem
						font-size 0.24rem
						color #999
				.origin-price
					margin-top 0.2rem
					font-size 0.24rem
					line-height 0.24rem
					color #999
				.integral
					margin-top 0.2rem
					line-height 0.32rem
					font-size 0
					> img
						display inline-block
						width 0.32rem
						height 0.32rem
						vertical-align middle
					> .text
						margin-left 0.1rem
						font-size 0.24rem
						color #666
						vertical-align middle
			.carriage-sales
				margin-top 0.2rem
				width 100%
				border-top 0.01rem solid #e6e6e6
				display flex
				> div
					flex 1
					padding 0.32rem 0
					> p
						text-align center
						font-size 0.24rem
						line-height 0.24rem
						color #878787
						&:first-child
							border-right 0.01rem solid #e6e6e6
						> .text
							color #262626
			.company
				padding 0 0.2rem
				display flex
				> div
					flex 1
					padding 0.32rem 0
					line-height 0.28rem
					font-size 0
					&.left-part
						flex 1.5
					&.center-part
						text-align center
					&.right-part
						text-align right
					> img
						display inline-block
						width 0.28rem
						height 0.28rem
						vertical-align middle
					> span
						margin-left 0.1rem
						font-size 0.24rem
						color #666
						vertical-align middle
			.link-list
				padding-left 0.32rem
				.link-item
					padding 0.28rem 0.32rem 0.3rem 0
					line-height 0.3rem
					border-1px(#e6e6e6)
					> .text
						font-size 0.3rem
						line-height 0.3rem
					> img
						float right
						display inline-block
						width 0.16rem
						height 0.26rem
						vertical-align middle
						text-align right
			.gift-box
				padding 0.4rem 0 0.2rem
				.gift
					padding 0 0.2rem
					display flex
					font-size 0
					> .img
						width 0.28rem
						// height 0.28rem
						padding-top 0.1rem
						> img
							width 100%
					> .text
						flex 1
						margin-left 0.1rem
						font-size 0.28rem
						color #9c9890
						line-height 0.44rem
				.photo
					margin-top 0.4rem
					padding 0.2rem 0.2rem 0.1rem
					> img
						width 100%
			.comment-title
				font-size 0.3rem
				line-height 0.3rem
				color #333
				padding 0.2rem
			.view-comment
				padding 0.14rem 0
				text-align center
				.comment-button
					display inline-block
					font-size 0.3rem
					line-height 0.3rem
					color #f8bd48
					padding 0.2rem 0.3rem
					border-radius 0.08rem
					border 0.02rem solid #f8bd48
			.touch-view
				font-size 0
				line-height 0.88rem
				text-align center
				background #f8f7f6
				> .text
					font-size 0.24rem
					vertical-align middle
					color #523f1a
				> img
					display inline-block
					width 0.32rem
					height 0.32rem
					vertical-align middle
					margin-left 0.1rem
					