.leave
	padding 0.6rem 0.32rem 0
	.box
		width 100%
		height 5.7rem
		padding 0.3rem
		position relative
		border 0.02rem dashed #c7c7c7
		border-radius 0.1rem
		> textarea
			width 100%
			height 80%
			font-size 0.34rem
			line-height 0.5rem
			border none
			outline none
			resize none
			color #333333
			&::placeholder
				color #c6c6c6
		> span
			position absolute
			bottom 0.3rem
			left 0.3rem
			> .warn
				color #fc474e
			> .text
				vertical-align baseline
		> button
			border none
			outline none
			position absolute
			bottom 0.3rem
			right 0.3rem
			color #ffffff
			text-align center
			// width 1.5rem
			// height 0.8rem
			padding 0.24rem 0.46rem
			font-size 0.32rem
			line-height 0.32rem
			background-color #f8bd48
			border-radius 0.1rem