.activity-details-footer
  .footer
    position fixed
    bottom 0
    left 0
    width 100%
    height 1rem
    background-color #fff
    box-shadow 0 1px 1px 2px rgba(0, 0, 0, 0.1)
    .footer-left
      width 50%
      border-top 1px solid #E6E6E6
      .consulting
        border-right 1px solid #E6E6E6
      > div
        width 49.5%
        height 1rem
        float left
        > img
          display block
          width 0.4rem
          height 0.4rem
          margin 0 auto
          margin-top 0.14rem
          margin-bottom 0.08rem
        > p
          font-size 0.2rem
          text-align center
    .sign-up
      width 50%
      height 1rem
      line-height 1rem
      text-align center
      font-size 0.34rem
      color #fff
      background-color #F8BD48
      float right
  .add-comment
    padding 0.14rem 0.2rem
    position fixed
    bottom 0
    left 0
    width 100%
    height 1rem
    background-color #fff
    box-shadow 0 1px 1px 2px rgba(0, 0, 0, 0.1)
    .comment-input
      width 100%
      height 100%
      padding 0.1rem
      border-radius 0.1rem
      border 1px solid #C7C7CC
      background-color #FCFAF8
      > span
        font-size 0.3rem
        color #C7C7CC
      > img
        float right
        width 0.38rem
        height 0.38rem
        margin-top 2px
